.tmline {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px auto;
    

    &-count {
        flex-basis: 100%;
        font-family: 'Game of Thrones';

        &-circle {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 35px;
            width: 35px;
            border-radius: 50%;
            border: 3px solid white;
            margin: 0 auto;
            cursor: pointer;
        }
    }

    &-chars {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        &-aux1 {
            border-right: 3px solid white;
            height: 100px;
            width: 50%;
            position: relative;

            &__arrow {
                height: 20px;
                width: 20px;
                border-right: 3px solid white;
                border-bottom: 3px solid white;
                transform: rotate(45deg) ;
                transform-origin: center;
                position: absolute;
                right: -10px;
                top: 28px;
                transition: transform 1s ease, top 1s ease;

                &.flip{
                    transform: rotate(225deg) ;
                    top: 39px;
                }
            }
        }
        &-aux2 {
            height: 100px;
            width: 50%;
        }

        &-char {
            width: 50%;
            border-top: 3px solid white;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 10px;
            padding-bottom: 150px;
            gap: 10px;

            &:nth-child(odd) {
                border-right: 3px solid white;
            }

            &:nth-child(even) {
                transform: translateY(50%);
            }

            &__img {
                width: 100px;
                height: 100px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }


}