.home {
    height: 100vh;
    width: 100%;
    background-image: url('../../../public/images/home/trono.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    &__title {
        color: white;
        font-size: 100px;
        text-align: center;
        max-width: 800px;
        line-height: 1.5;
    }
}