@font-face {
    font-family: "Game of Thrones";
    src: url("fonts/Game-of-Thrones.ttf");
}

@font-face {
    font-family: 'FeDP';
    src: url('fonts/FeDPsc2.ttf');
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.num {
    font-family: 'FeDP'; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Game of Thrones";
}

ul {
    list-style-type: none;
}

a {
    font-family: inherit;
    color: inherit;
    text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}


.simplebar-track.simplebar-vertical {
    width: 3px!important;
    background-color: gray;
    overflow: visible;
}

.simplebar-scrollbar.simplebar-visible::before {
    opacity: 1!important;
    width: 5px;
    background-color: white;
    top: 0px;
    bottom: 0px;
    left: -1px;
    right: 0px;
}
